<p style="color: green"><%= notice %></p>
<%= turbo_frame_tag 'new_articles' do %>
  <%= link_to "New article", new_article_path %>
<% end %>
<h1>Articles</h1>

<div id="articles">
  <%= render @articles %>
</div>

